In [30]:
import yfinance as yf
import pandas as pd

# Define the ticker symbol for Gold Futures
ticker = 'GC=F'

# Download historical data for the past 5 years
gold_data = yf.download(ticker, start='2000-01-01')

# Show the first 5 rows
gold_data.head()

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open Volume
Ticker            GC=F        GC=F        GC=F        GC=F   GC=F
Date
2000-08-30  273.899994  273.899994  273.899994  273.899994      0
2000-08-31  278.299988  278.299988  274.799988  274.799988      0
2000-09-01  277.000000  277.000000  277.000000  277.000000      0
2000-09-05  275.799988  275.799988  275.799988  275.799988      2
2000-09-06  274.200012  274.200012  274.200012  274.200012      0

In [31]:
import yfinance as yf
import pandas as pd

# Download data
gold_usd_raw = yf.download('GC=F', start='2000-01-01', auto_adjust=False)
usd_inr_raw = yf.download('INR=X', start='2000-01-01', auto_adjust=False)

# print(gold_usd_raw.head())

# print("--------------------------")
# print(usd_inr_raw.head())

# Select and rename Series
gold_usd = gold_usd_raw['Close']['GC=F'].rename('Gold_USD_per_oz')
usd_inr = usd_inr_raw['Close']['INR=X'].rename('USD_to_INR')


# Merge into one DataFrame
gold_inr = pd.concat([gold_usd, usd_inr], axis=1).dropna()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [33]:
gold_inr.head()
gold_inr.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5339 entries, 2003-12-01 to 2025-04-17
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gold_USD_per_oz  5339 non-null   float64
 1   USD_to_INR       5339 non-null   float64
dtypes: float64(2)
memory usage: 125.1 KB

In [34]:
# Function to compute the gold prize in INR considering gst, import duty
def compute_gold_price_with_taxes(gold_usd, usd_inr, import_duty=0.125, gst=0.03):
    gold_inr['Gold_INR_per_gram'] = (
        (gold_inr['Gold_USD_per_oz'] * gold_inr['USD_to_INR']) / 31.1035
    ) * (1 + import_duty + gst)
    return gold_inr


gold_data = compute_gold_price_with_taxes(gold_usd, usd_inr, import_duty=0.125, gst=0.03)
gold_data.head()

            Gold_USD_per_oz  USD_to_INR  Gold_INR_per_gram
Date
2003-12-01       402.700012   45.709999         683.542587
2003-12-02       403.700012   45.629002         684.025750
2003-12-03       403.899994   45.549999         683.179684
2003-12-04       403.299988   45.548000         682.134863
2003-12-05       406.399994   45.449001         685.884139